html
    head
        meta(http-equiv="Content-Type", content="text/html; charset=ISO-8859-1")
        title Koa Weather App
    body
        h1 #{city}, #{state}
        p #{temperature}&deg;
            span #{summary}
            canvas#icon1(width=128, height=128)
        script(src="/skycons.js")
        script var applicationVariables = !{JSON.stringify(applicationVariables)}
        script(src="/App.js")